<link rel="stylesheet" href="application.css">

<h1> All Restaurants </h1>

<div id="restaurants">
  <%= @restaurants.each do |restaurant| %>
    <%= restaurant %>
    <p>
      <%= link_to "Show this restaurant", restaurant %>
    </p>
  <% end %>
</div>
